.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    color: var(--color-sidebar-item);

    &.active {
        color: var(--primary);
        border: 1px solid var(--primary);
        border-top: none;
        border-bottom: none;
        border-left: none;
        
        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &.active:hover{
        color: var(--primary);
    }


    &:hover {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        text-decoration: none;
    }
}

.icon,
.active-icon {
    display: flex;
}

.title {
    margin: 0 0 0 16px;
    font-size: 1.6rem;
}

.active-icon {
    display: none;
}
