.content-types {
    text-decoration: none;
    padding: 0 5px 15px 0;
    color: var(--color-sidebar-item);
    margin-right: 6px;

    &.active {
        border: 1px solid #ccc;
        border-top: none;
        border-right: none;
        border-left: none;

        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
    }

    &:hover {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        text-decoration: none;
    }
    
    

}

